@import "utilities";

.recipe {
    padding: 70px 16px;

    a {
        color: #FC5130;
        text-decoration: none;
        font-weight: bold;
    }

    h2 {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 4px;
        font-weight: bold;
    }

    img {
        width: 100%;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
    }

    .recipe-title {
        display: flex;
        position: relative;
    }

    .favorite-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 16px;
        margin-left: 132px;
    }

    h3 {
        padding-bottom: 16px;
    }

    .steps {
        padding-bottom: 8px;
    }

    .recipe-top {
        padding-bottom: 20px;
        
        span {
            padding: 0px;
        }
    }

    .recipe-ingredients {
        width: 300px;
        display: flex;
    }

    h4 {
        width: 110px;
        text-transform: capitalize;
    }

    span {
        padding-right: 20px;
    }

    @media (min-width: $min-tablet) {
        
        h2 {
            width: 50%;
        }

        .favorite-icon {
            position: static;
            top: 0px;
            margin-top: 16px;
            margin-left: 60px;
        }

        .recipe-top {
            display: flex;

            h3 {
                padding-top: 26px;
            }
        }

        img {
            width: 50%;
            position: static;
            transform: translateX(0);
        }

        h4 {
            width: 120px;
        }

        img + div {
            padding-left: 60px;
        }

        p {
            width: 80%;
        }
    }
}