@import "utilities";

.home {
    padding: 40px 16px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 100px;

    h1 {
        text-align: center;
        padding-bottom: 40px;
    }

    form {
        width: 90%;
        padding: 20px 20px;
        box-sizing: border-box;
        border: 1px solid #A3E7FC;
        background: #A3E7FC;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, .2);
        border-radius: 4px;
        
        label {
            padding-bottom: 10px;
            padding-top: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input {
            float: right;
            border: none;
            border-radius: 4px;
            outline: none;
        }

        span {
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            text-align: center;
            padding-top: 16px;
        }

        button {
            width: 80%;
            margin: auto;
            margin-top: 6px;
        }
    }

    .terms-of-service {
        width: 55%;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: space-between;

        span {
            color: #1a73e8;
            cursor: pointer;
        }
    }

    @media (min-width: $min-tablet) {
        
        form {
            width: 30%;
            padding: 30px 20px;
            box-sizing: border-box;

            input {
                // float: none;
                margin-right: 0px;
            }
        }

        .terms-of-service {
            justify-content: start;
            width: 90%;

            span {
                padding-right: 20px;
            }
        }
     
    }
}